<form [formGroup]="myForm" #hourSubmissionFormId="ngForm" (submit)="onSubmit(myForm.value)">
	<table>
		<thead>
			<tr>
				<th>Category</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
				<th class="text-uppercase pb-2"><span class="ml-4">total</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<ng-container formArrayName="submittedHours">
				<tr formGroupName="0">
					<td>billable</td>
					<ng-container formArrayName="hours">
						<td *ngFor="let inputHours of myForm.get('submittedHours').controls[0].get('hours').controls;let id=index"
							[formGroupName]="id">
							<div>
								<input type="text" maxlength="2" [formControl]="inputHours.get('submittedHours')" (ngModelChange)="addHours('billable',inputHours.get('submittedHours').value,id,myForm)"
                               >
                        </div>

						</td>

					</ng-container>
					<!-- Total Billable Hours -->
					<td class="">
						<div>
							<input type="text" disabled
                             name="add-hours"

                             placeholder="0 hrs" [value]="total1 || 0">
                    </div>
					</td>
				</tr>
				<tr formGroupName="1">
					<td>non-billable</td>

            <ng-container formArrayName="hours">
						<td *ngFor="let inputHoursB of myForm.get('submittedHours').controls[1].get('hours').controls;let id=index"
							[formGroupName]="id">
							<div>
								<input type="text" maxlength="2" [formControl]="inputHoursB.get('submittedHours')" (ngModelChange)="addHours('nonbillable',inputHoursB.get('submittedHours').value,id,myForm)"
                                >
                        </div>

						</td>

					</ng-container>

					<td class="">
						<div>
							<input type="text" disabled
                             name="add-hours"

                             placeholder="0 hrs" [value]="total2 || 0">
                    </div>
					</td>
				</tr>
        <tr>
          					<input colspan="8" type="text" disabled
                             name="total-hours"

                             placeholder="0 hrs" [value]="total || 0">
          </tr>
			</ng-container>


		</tbody>
	</table>
  <button type="submit">submit</button>
</form>